In [61]:
import pandas as pd
import numpy as np

print(np.__version__)
print(pd.__version__)

1.18.2
1.0.3

In [62]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')
print(train_data.head(20))
print(test_data.head(20))

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
12                     Saundercock, Mr. William Henry    male  20.0      0
13                        Andersson, Mr. Anders Johan    male  39.0      1
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                               Rice, Master. Eugene    male   2.0      4
17                       Williams, Mr. Charles Eugene    male   NaN      0
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                            Masselmani, Mrs. Fatima  female   NaN      0

    Parch            Ticket     Fare Cabin Embarked
0       0         A/5 21171   7.2500   NaN        S
1       0          PC 17599  71.2833   C85        C
2       0  STON/O2. 3101282   7.9250   NaN        S
3       0            113803  53.1000  C123        S
4       0            373450   8.0500   NaN        S
5       0            330877   8.4583   NaN        Q
6       0             17463  51.8625   E46        S
7       1            349909  21.0750   NaN        S
8       2            347742  11.1333   NaN        S
9       0            237736  30.0708   NaN        C
10      1           PP 9549  16.7000    G6        S
11      0            113783  26.5500  C103        S
12      0         A/5. 2151   8.0500   NaN        S
13      5            347082  31.2750   NaN        S
14      0            350406   7.8542   NaN        S
15      0            248706  16.0000   NaN        S
16      1            382652  29.1250   NaN        Q
17      0            244373  13.0000   NaN        S
18      0            345763  18.0000   NaN        S
19      0              2649   7.2250   NaN        C
    PassengerId  Pclass                                               Name  \
0           892       3                                   Kelly, Mr. James
1           893       3                   Wilkes, Mrs. James (Ellen Needs)
2           894       2                          Myles, Mr. Thomas Francis
3           895       3                                   Wirz, Mr. Albert
4           896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5           897       3                         Svensson, Mr. Johan Cervin
6           898       3                               Connolly, Miss. Kate
7           899       2                       Caldwell, Mr. Albert Francis
8           900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9           901       3                            Davies, Mr. John Samuel
10          902       3                                   Ilieff, Mr. Ylio
11          903       1                         Jones, Mr. Charles Cresson
12          904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13          905       2                               Howard, Mr. Benjamin
14          906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15          907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16          908       2                                  Keane, Mr. Daniel
17          909       3                                  Assaf, Mr. Gerios
18          910       3                       Ilmakangas, Miss. Ida Livija
19          911       3              Assaf Khalil, Mrs. Mariana (Miriam")"

       Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0     male  34.5      0      0            330911   7.8292   NaN        Q
1   female  47.0      1      0            363272   7.0000   NaN        S
2     male  62.0      0      0            240276   9.6875   NaN        Q
3     male  27.0      0      0            315154   8.6625   NaN        S
4   female  22.0      1      1           3101298  12.2875   NaN        S
5     male  14.0      0      0              7538   9.2250   NaN        S
6   female  30.0      0      0            330972   7.6292   NaN        Q
7     male  26.0      1      1            248738  29.0000   NaN        S
8   female  18.0      0      0              2657   7.2292   NaN        C
9     male  21.0      2      0         A/4 48871  24.1500   NaN        S
10    male   NaN      0      0            349220   7.8958   NaN        S
11    male  46.0      0      0               694  26.0000   NaN        S
12  female  23.0      1      0             21228  82.2667   B45        S
13    male  63.0      1      0             24065  26.0000   NaN        S
14  female  47.0      1      0       W.E.P. 5734  61.1750   E31        S
15  female  24.0      1      0     SC/PARIS 2167  27.7208   NaN        C
16    male  35.0      0      0            233734  12.3500   NaN        Q
17    male  21.0      0      0              2692   7.2250   NaN        C
18  female  27.0      1      0  STON/O2. 3101270   7.9250   NaN        S
19  female  45.0      0      0              2696   7.2250   NaN        C

In [63]:
print(train_data.describe())
print(test_data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [64]:
train_data["Age"] = train_data["Age"].fillna(train_data['Age'].median())
test_data["Age"] = test_data["Age"].fillna(test_data['Age'].median())
print(train_data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [65]:
# 预处理性别（字符串）
print(train_data['Sex'].unique())
train_data.loc[train_data['Sex'] == 'male','Sex'] = 0
train_data.loc[train_data['Sex'] == 'female','Sex'] = 1
train_data.head(5)


print(test_data['Sex'].unique())
test_data.loc[test_data['Sex'] == 'male','Sex'] = 0
test_data.loc[test_data['Sex'] == 'female','Sex'] = 1

['male' 'female']
['male' 'female']

In [66]:
print(train_data.loc[:,'Embarked'].value_counts())
print(train_data['Embarked'].unique())

train_data['Embarked'] = train_data['Embarked'].fillna('S')
test_data['Embarked'] = test_data['Embarked'].fillna('S')

print(train_data.describe())
print(train_data.loc[:,'Embarked'].value_counts())

train_data.loc[train_data['Embarked']=='S','Embarked'] = 0
train_data.loc[train_data['Embarked']=='C','Embarked'] = 1
train_data.loc[train_data['Embarked']=='Q','Embarked'] = 2
train_data.head(5)

test_data.loc[test_data['Embarked']=='S','Embarked'] = 0
test_data.loc[test_data['Embarked']=='C','Embarked'] = 1
test_data.loc[test_data['Embarked']=='Q','Embarked'] = 2

S    644
C    168
Q     77
Name: Embarked, dtype: int64
['S' 'C' 'Q' nan]
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold


predictors = ['Pclass','Sex','Age',"SibSp",'Parch','Fare','Embarked']

alg = LinearRegression()

kf = KFold(train_data.shape[0],n_folds=3,random_state=1)

TypeError: __init__() got an unexpected keyword argument 'n_folds'